# Ignore virtual environment
venv/

# Ignore environment variable files
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other temporary or backup files
*.log
*.tmp
*.swp
*.bak
*.idea/
*.vscode/
